html, body {
    font-family: Helvetica;
    background: white;
    z-index: 1;
}

.topic {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.topic-author {
    color: #666;
    flex: 1 1 100px;
}

.topic-title {
    display: inline;
    flex: 1 1 800px;
}

.top-author {
    color: #333;
    font-size: 120%;
    margin: 5px;
}

.topic-info {
    flex: 1 1 360px;
}

.topic-answers {
    flex: 1 1 120px;
}

.topic-views {
    flex: 1 1 120px;
}

.topic-date {
    flex: 1 1 120px;
}

.topic-page {
    margin-left: 45px;
    margin-right: 45px;
}

.user-name {
    font-size: 125%;
    color: #333;
    padding-left: 50px;
    flex: auto;
}

.login {
    flex: 200px 0 0;
}

.close-button {
    position: absolute;
    right: -25px;
    top: -25px;
    width: 40px;
    border-radius: 5px 10px 5px 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.link {
    color: #00f;
    border-bottom: 1px solid #00f;
    cursor: pointer;
}

.topic-message {
    margin: 5px;
    padding: 10px;
}

.message-author {
    color: #333;
    font-size: 105%;
    margin: 5px;
}

.top-message {
    font-size: 120%;
}

.message {
    margin-top: 10px;
    margin: 5px;
}

.close-button:hover {
    background: #ff2300;
    color: white;
    transition: .2s;
}

.flex-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.invisible {
    display: none;
}

.error-text {
    text-align: center;
    color: #ff3900;
}

.header {
    padding-bottom: 15px;
}

.window {
    font-size: 110%;
    border: 25px solid white;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px 0px rgba(37, 0, 69, 0.3);
    transform: translate(-50%, -50%);

    input {
        padding-left: 5px;
        font-size: 110%;
        outline: none;
    }

    .login-div {
        display: flex;
        justify-content: center;
    }
}

.window-title {
    font-size: 120%;
    text-align: center;
}

button {
    border: 2px solid rgb(87, 0, 163);
    border-radius: 3px;
    background: none;
    position: relative;
    margin: 2px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 110%;
    color: rgb(87, 0, 163);
    cursor: pointer;
    z-index: 1;
};

button::before {
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 0;
    background: rgb(87, 0, 163);
    top: 0;
    left: 0;
    transition: .5s;
}

button:hover {
    color: white;
    transition: .1s;
}

button:active {
    color: rgb(87, 0, 163);
    transition: 0s;
}

button:hover::before {
    height: 100%;
    transition: .1s;
}

button:active::before {
    height: 100%;
    background: white;
    top: 0;
    transition: 0s;
}